<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.project.aps.version_info.VersionInfoMapper">

    <!-- 增 [G] -->
    <insert id="add">
        insert into
        version_info (id, version, url, description, create_by, create_time, update_by, update_time)
        values (#{id}, #{version}, #{url}, #{description}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <!-- 删 -->
    <delete id="delete">
        delete from version_info
        where id = #{id}
    </delete>

    <!-- 改 [G] -->
    <update id="update">
        update version_info set
        id = #{id},
        version = #{version},
        url = #{url},
        description = #{description},
        create_by = #{createBy},
        create_time = #{createTime},
        update_by = #{updateBy},
        update_time = #{updateTime}
        where id = #{id}
    </update>


    <!-- ================================== 查询相关 ================================== -->
    <!-- select id, version, url, description, create_by, create_time, update_by, update_time from version_info  -->

    <!-- 通用映射：手动模式 -->
    <resultMap id="model" type="com.pj.project.aps.version_info.VersionInfo">
        <result property="id" column="id" />
        <result property="version" column="version" />
        <result property="url" column="url" />
        <result property="description" column="description" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <!-- 公共查询sql片段 -->
    <sql id="select_sql">
        select *
        from version_info
    </sql>

    <select id="getCurrentVersion" resultType="com.pj.project.aps.version_info.VersionInfo">
        <include refid="select_sql"></include>
        order by version desc,id desc limit 1
    </select>

    <!-- 查 - 根据id -->
    <select id="getById" resultMap="model">
        <include refid="select_sql"></include>
        where id = #{id}
    </select>

    <!-- 查集合 - 根据条件（参数为空时代表忽略指定条件） [G] -->
    <select id="getList" resultMap="model">
        <include refid="select_sql"></include>
        <where>
            <if test=' this.has("id") '> and id = #{id} </if>
            <if test=' this.has("version") '> and version = #{version} </if>
            <if test=' this.has("url") '> and url = #{url} </if>
            <if test=' this.has("description") '> and description = #{description} </if>
            <if test=' this.has("createBy") '> and create_by = #{createBy} </if>
            <if test=' this.has("createTime") '> and create_time = #{createTime} </if>
            <if test=' this.has("updateBy") '> and update_by = #{updateBy} </if>
            <if test=' this.has("updateTime") '> and update_time = #{updateTime} </if>
        </where>
        order by
        <choose>
            <when test='sortType == 1'> id desc </when>
            <when test='sortType == 2'> version desc </when>
            <when test='sortType == 3'> url desc </when>
            <when test='sortType == 4'> description desc </when>
            <when test='sortType == 5'> create_by desc </when>
            <when test='sortType == 6'> create_time desc </when>
            <when test='sortType == 7'> update_by desc </when>
            <when test='sortType == 8'> update_time desc </when>
            <otherwise> id desc </otherwise>
        </choose>
    </select>

</mapper>