<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.project.aav.app_version.AppVersionMapper">

	<!-- 增 [G] -->
	<insert id="add">
		insert into 
		app_version (id, androidUrl, iosUrl, isForceUpdate, version, versionCode) 
		values (#{id}, #{androidUrl}, #{iosUrl}, #{isForceUpdate}, #{version}, #{versionCode}) 
	</insert>

	<!-- 删 -->
	<delete id="delete">
		delete from app_version 
		where id = #{id}
	</delete>

	<!-- 改 [G] -->
	<update id="update">
		update app_version set
		id = #{id}, 
		androidUrl = #{androidUrl}, 
		iosUrl = #{iosUrl}, 
		isForceUpdate = #{isForceUpdate}, 
		version = #{version}, 
		versionCode = #{versionCode}
		where id = #{id}
	</update>


	<!-- ================================== 查询相关 ================================== -->
	<!-- select id, androidUrl, iosUrl, isForceUpdate, version, versionCode from app_version  -->
	
	<!-- 通用映射：手动模式 -->
	<resultMap id="model" type="com.pj.project.aav.app_version.AppVersion">
		<result property="id" column="id" />
		<result property="androidUrl" column="androidUrl" />
		<result property="iosUrl" column="iosUrl" />
		<result property="isForceUpdate" column="isForceUpdate" />
		<result property="version" column="version" />
		<result property="versionCode" column="versionCode" />
	</resultMap>
	
	<!-- 公共查询sql片段 -->
	<sql id="select_sql">
		select * 
		from app_version 
	</sql>
	
	<!-- 查 - 根据id -->
	<select id="getById" resultMap="model">
		<include refid="select_sql"></include>
		where id = #{id}
	</select>
	
	<!-- 查集合 - 根据条件（参数为空时代表忽略指定条件） [G] -->
	<select id="getList" resultMap="model">
		<include refid="select_sql"></include>
		<where>
			<if test=' this.has("id") '> and id = #{id} </if>
			<if test=' this.has("androidUrl") '> and androidUrl = #{androidUrl} </if>
			<if test=' this.has("iosUrl") '> and iosUrl = #{iosUrl} </if>
			<if test=' this.has("isForceUpdate") '> and isForceUpdate = #{isForceUpdate} </if>
			<if test=' this.has("version") '> and version = #{version} </if>
			<if test=' this.has("versionCode") '> and versionCode = #{versionCode} </if>
		</where>
		order by
		<choose>
			<when test='sortType == 1'> id desc </when>
			<when test='sortType == 2'> androidUrl desc </when>
			<when test='sortType == 3'> iosUrl desc </when>
			<when test='sortType == 4'> isForceUpdate desc </when>
			<when test='sortType == 5'> version desc </when>
			<when test='sortType == 6'> versionCode desc </when>
			<otherwise> id desc </otherwise>
		</choose>
	</select>
	
	
	
	
	
	
	
	
	

</mapper>
